        
<div id="cropper">
    <div class="photocropper">
        <img 
        class="cropper-image"
        #image 
        crossorigin
        [src]="imageSource"
        >
    </div>

    <div class="buttons">
        <button matRaisedButton (click)="crop()">
            CROP
        </button>
        <button matRaisedButton (click)="save()">
            SAVE
        </button>
        <button matRaisedButton (click)="clear()">
            CLEAR
        </button>
    </div>
    

    <div class="preview">
        <h2>Preview!</h2>
        <img [src]="imageDestination">
    </div>
</div>
<!-- {{imageDestination}} -->

