
<nav id="navbar">
  <a mat-raised-button  disableRipple routerLink="/home" routerLinkActive="active-link">Home</a>
  <a mat-raised-button  disableRipple routerLink="/ngx-image-cropper" routerLinkActive="active-link">NgxImageCropper</a>
  <a mat-raised-button  disableRipple routerLink="/ngx-awesome-uploader" routerLinkActive="active-link">NgxAwesomUPloader</a>
  <a  mat-raised-button  disableRipple routerLink="/formfield" routerLinkActive="active-link">MatFormField</a>
  <a  mat-raised-button  disableRipple routerLink="/mat-expansion" routerLinkActive="active-link">MatExpansion</a>
  <a  mat-raised-button  disableRipple routerLink="/mat-tabs" routerLinkActive="active-link">NestedMatTabs</a>
</nav>

<section id="main-content">
  <router-outlet></router-outlet>
</section>

